.logo {
    padding: 10px 10px 0 10px;
  }
  
  .name {
    font-size: 14px;
    color: #333;
    padding-top: 15px;
  }

  .btn {
    border-color: transparent;
  }

.hometitle {
  text-align: center;
  font-size: xx-large;
}

.picture {
  position: relative;
  left: 37%;
}

main {
  background-color: #929292;
  height: 852px;
}