* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #DE3C4B;
}
.start{
    text-align: center;
}
.logo{
        width: 200px;
        height: 0px; 
        position: absolute;
        top: 0%;
        left: 43%;
        transform: translate(-50%, -50%);
    }
.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.startButton button {
    padding: 20px;
    font-size: 24px;
}